*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

h1{
  font-size: 35px;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid;
  background-color: white;
  position: sticky;
  z-index: 9;
  top: 0;
  left: 0;
}

#header p{
  color: blue ;
  position: relative;
  padding-left: 30px;
  font-weight: bold;
}
    
#header p::after{
  content: "";
  background-color: blue;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 2px solid black;
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li{
  list-style: none;
  padding: 10px 18px;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
}

#navbar li a.active,
#navbar li a:hover{
    color: yellow;
    text-decoration: none;
    transition: 0.1s;
  }

  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    background-color: yellow;
    position: absolute;
    width: 49px;
    height: 1px;
    bottom: -1px;
    right: 0px;
  }

  /****Hero Section****/
  #hero{
    display: flex;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: space-evenly;
    align-items: center;

  }

  #intro{
    justify-content: center;
    
  }
#intro h1{
  display: flex;
  color: black;
  margin-bottom: 20px;
  
}

#intro h1 span{
  color: white;
  padding-right: 10px;
  padding-left: 5px;
}

#intro h1 span:hover{
  display: inline;
  color: yellow;
  transition: 0.1s;
}
  
#intro h2{
  margin-bottom: 20px;
  text-align: left;
  }
  
#intro h2 span{
  display: inline;
 color:  white;
 font-size: 25px;
}  

#intro p {
    color: black;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
  }

#intro p span{
  display: inline;
  color: white;
  margin-left: 5px;
  font-size: 25px;
}

#intro p span:hover{
  color: yellow;
  transition: 0.1s;
}


#image {
  display: flex;
}

#image img{
  border-radius: 50%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: 15px;
  border: 1px solid black;
  border-width: 2px;
  box-shadow: 5px 5px;
  
}

#image img:hover{
  box-shadow: 5px 5px 3px 3px;
}

#hero div ul li{
  list-style: none;
  display: inline;
 }

#socials{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#socials ul li a{
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  margin: 10px 10px 10px 0px;
  color: black;
  background-color: white;
  font-size: 13px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  border-radius: 50%;
  text-align: center;
}


#socials ul li a:hover{
  color: blue;
  transition: 0.1s;
}


/***About Me Section*****/
#about {
  display:flex;
  flex-direction: column;
  background-color: white;
  
}

#about div h1{
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;

}

.about-me{
 display: flex;
 border: 1px solid yellow ;
 border-width: 3px;
 width: 80%;
 border-radius: 30px;
 margin: 0 auto;
 margin-bottom: 50px;
 justify-content: center;
 align-items: center;
}

.about-me p{
  text-align: justify;
  font-size: 20px;
  padding: 20px;
}

.about-me p span{
  display: inline;
  color: blue;
}

/*****projetcs section***/
#pojects{
  display: flex;
}

#projects h1{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}

#contain{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.item{
  margin: 20px;
  border: 3px solid yellow;
  border-radius: 20px;
  padding: 20px;
}

.item h4{
  color: blue;
  margin-bottom: 10px;
}

.item p{
  width: 300px;
  text-align: justify;
  margin-bottom: 10px;
}

.item img{
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
}

.item a{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  text-decoration: none;
  color: blue;
}

.item a:hover{
  color: rgb(223, 223, 25);
  transition: 0.1s;
}

/***form section: contact me***/
#contact{
  background-color: white;
  padding: 30px;
}

#contact h1{
  text-align: center;
  font-size: 35px;
}

#container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

#content h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#content{
  color: white;
  padding: 30px;
  background-color: black;
  border: 1px solid rgb(97, 97, 232);
  border-width: 3px;
  border-radius: 40px;
  float: left;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 20px;
}

#content h1 span{
  color: blue;
  padding-left: 10px;
}

#content h1 span:hover{
  opacity: 0.8;
  transition: 0.1s;
}

#content p{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 30px;
  justify-content: center;
}

#form label{
  color: black;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  left: 20px;
}

#form input{
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 500px;
  border-radius: 20px;
  border: 1px solid black;
  border-width: 2px;
}

#form input:hover{
  border: 2px solid rgb(151, 151, 242);
}

#form button{
  display: flex;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  font-size: 18px;
  justify-content: center;
  width: 150px;
  border-radius: 30px;
  position: relative;
  align-items: center;
  position: relative;
  left: 175px;
  border: 1px solid rgb(97, 97, 232);
  border-width: 3px;
}

#form button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  border-width: 4px;
  border: 1px solid blue;
  transition: 0.1s;
  
}

/****footer*****/
footer{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: auto;
}

footer div ul li{
 list-style: none;
 display: inline;
}

#footericons{
  display: flex;
  justify-content: center;
}

#footericons ul li a{
  text-decoration: none;
  padding: 7px;
  color: black;
  background-color:white;
  margin: 10px 10px 30px;
  aspect-ratio: 1;
  font-size: 13px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  border-radius: 50%;

}

#footericons ul li a:hover{
  color: blue;
  background-color: white;
  transition: 0.5s;
}

#footernav{
  display: flex;
  justify-content: center;
}

#footernav ul{
 margin: 30px 0;
}
#footernav ul li{
  list-style: none;
  
}

#footernav ul li a{
  text-decoration: none;
  color: white;
  margin: 20px 10px;
}

#footernav ul li a:hover{
  color: blue;
}

#footercopy{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  position: relative;
  bottom: 0;
}

.designer{
 opacity: 0.8;
}



 